.App {
  text-align: center;
}

.next{
  width: 120px;
  height: 40px;
  background-color: white; 
  color: black; 
  border: 2px solid black;
  margin: 5px;
}

.prev {
  width: 120px;
  height: 40px;
  background-color: white; 
  color: black; 
  border: 2px solid black;
  margin: 5px;
}
.next:hover,.prev:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.comic{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: auto
}
